<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKR</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/27442b3215.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="ad-login">
    <div class="l-wrapper">
        <div ><span>Are You a Robot?Enter Text Shown Below</span></div>
        <div ><span>HRXrhsn</span></div>
        <form action="/captcha" method="post">
            <div class="l-row">
                <i class="fas fa-user"></i>
                <input type="text" name="captcha" placeholder="Captcha" required>
                <input type="text" class="contain-cap" name="com" value="QB4R+4u17j2v72SzzlsAkWXAcMzr8/PtWifUMJlxPZ4=">
            </div>
            <div class="l-row l-btn">
                <input type="submit" value="submit">
            </div>  
        </form>  
    </div>
</section>
</body>
</html>