<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="/userlist.css">
<div class="container mt-3 mb-4">
<div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th>Candidate Name</th>
                <th class="text-center">Location</th>
                <th class="action text-right"><a href="/update">Update Profile</a</th>
                  <th class="action text-right"><a href="/logout">logout</a</th>
              </tr>
            </thead>
            <tbody>
              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">Kishore Reddy</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fas  pr-1"></i>saikishorereddy@gmail.com</li>
                          <li><i class="fas  pr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, deleniti quibusdam animi veniam similique mollitia corporis est vero ratione consequatur.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <!-- <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a> -->
                  <span class="candidate-list-time order-1">Hyderabad</span>
                </td>
              </tr>

              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">Veera Simha Reddy</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fas  pr-1"></i>ballayya@gmail.com</li>
                          <li><i class="fas  pr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, deleniti quibusdam animi veniam similique mollitia corporis est vero ratione consequatur.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <!-- <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a> -->
                  <span class="candidate-list-time order-1">Bhimavaram</span>
                </td>
              </tr>

              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">Samara Simha Reddy</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fas  pr-1"></i>jaiballayya@gmail.com</li>
                          <li><i class="fas  pr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, deleniti quibusdam animi veniam similique mollitia corporis est vero ratione consequatur.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <!-- <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a> -->
                  <span class="candidate-list-time order-1">Kadapa</span>
                </td>
              </tr>

              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0"><a href="#">Indra Sena Reddy</a></h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li><i class="fas  pr-1"></i>indra@gmail.com</li>
                          <li><i class="fas  pr-1"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, deleniti quibusdam animi veniam similique mollitia corporis est vero ratione consequatur.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <!-- <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a> -->
                  <span class="candidate-list-time order-1">Rayalaseema</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>